<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/styles2.css">
        <link href="img/logo/SIF_Logo.jpg" rel="icon">
        <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

        <title>Smart Indoor Farming Web Application</title>
    </head>
    <body>

         <!-- HEADER -->
         <header class="l-header">
            <nav class="nav bd-grid">
                <div>
                  <img class ="LOGO" src="img/logo/SIF_Logo.jpg">
                </div>

                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item"><a href="#home" class="nav__link active">Home</a></li>
                        <li class="nav__item"><a href="#projects" class="nav__link">About</a></li>
                        <li class="nav__item"><a href="/Dashboard" class="nav__link">Dashboard</a></li>
                    </ul>
                </div>

                <div class="nav__toggle" id="nav-toggle">
                    <i class='bx bx-menu'></i>
                </div>
            </nav>
        </header>

        <main class="l-main">
            <!--===== HOME =====-->
            <section class="home bd-grid" id="home" style="background-image: url('img/1-IoT-Based-Smart-Agriculture-System-to-Scale-up-the-Productivity-scaled.jpeg'); background-size: cover; height:600px; padding-top:80px;">
              
                <div class="home__data" >
                    <a href="#projects"  class="button">Get Started</a>
                </div>

               

            </section>

            <!--===== About =====-->
            <section class="projects" id="projects">
                <h2 class="section-title">About our System</h2>
                <div class="projects-container">
                    <div class="project-container project-card">
                      <img
                        src="img/icons8-artificial-intelligence-48.png"
                        alt="expense-tracker"
                        loading="lazy"
                        class="project-pic"
                      />
                      <h3 class="project-title">AI Model</h3>
                      <p class="project-details">
                        Objective: Build an AI Model that can detect plant dieseases.
                      </p>
                      
                    </div>
                    <div class="project-container project-card">
                      <img
                        src="img/icons8-iot-sensor-48.png"
                        alt="netflic-clone"
                        loading="lazy"
                        class="project-pic"
                      />
                      <h3 class="project-title">Sensors</h3>
                      <p class="project-details">
                        Objective: To monitor humidity, temperature and soil moisture in the system.
                      </p>
                      
                    </div>
                    <div class="project-container project-card">
                      <img
                        src="img/icons8-rest-api-48.png"
                        alt="greeny-earth"
                        loading="lazy"
                        class="project-pic"
                      />
                      <h3 class="project-title">Web Application</h3>
                      <p class="project-details">
                        Objective: Interpret from the sensors making it easier to adjust the system accordingly.
                      </p> 
                     
                    </div>

                   
                  </div>
                  

                  <h3 class="insight">Insight:</h3>
                  <div class="projects-container">
                   
                    <div  class="project-container project-card">
                      <h4 class="project-title">AI Model</h4>
                      <p class="project-details">Plant malnutrition reduces the quality and production of plants which can lead 
                      shortages of food supply. Therefore, a plant disease detection system is essential 
                      to classify the plant diseases by assessing the images of the leaves. This can be done 
                      by applying a machine learning classification algorithm with a neural network.
                       This detection system makes use of a dataset which comprises of a crop found on
                       the campus hydroponic system.</p>

                       <div class="home__data" >
                        <a class="button">Read More</a>
                    </div>

                      </div>

                      <div  class="project-container project-card">
                        <h4 class="project-title">Sensors</h4>
                        <p class="project-details">The data collected by the IoT sensors can provide a real-time picture of whats
                           going on in the system.  This means that farmers will be able to know when their crops are healthy or not, 
                           how much water is being used and if an irrigation system is needed, soil health,
                            and whether they need more fertilizer or any other input. IoT sensors are helpful
                             because you can track temperature, humidity levels, plant diseases and more.</p>

                             <div class="home__data" >
                              <a class="button">Read More</a>
                          </div>

                        </div>

                        <div  class="project-container project-card">
                          <h4 class="project-title">Web Application</h4>
                          <p class="project-details">The Home page introduces the project and its main purpose. About the Project page
                             is where an overview of the project will be displayed, giving users a clear understanding of what Smart Indoor
                              Farming entails. The Dashboard is for reading and interpreting data from the sensors to make it easier for us to
                                 adjust the necessary elements accordingly (water, light, humidity etc) accordingly
                                  and monitor the crops.</p>

                           <div class="home__data" >
                            <a class="button">Read More</a>
                        </div>

                          </div>
                    
                    
                  </div>

                
            </section>
           
        </main>

        <!--===== FOOTER =====-->
        <footer class="footer">
            <p class="footer__title">Project By Group 01 Members:</p>
            <div class="footer__social">
              
              <p>Reitumetse Moloto</p>
              <p>Shammah Nhlabathi</p>
              <p>Gerhardus Cornelis van Zyl</p>
              <p>Barend Brits</p>
              <p>Liam Oliver</p>
               
            </div>
            <p>&#169; 2022 copyright all right reserved</p>
            
        </footer>
    </body>
</html>